---
---

@import "{{ site.theme }}";

///* Color Palette from Image */
//--light-orange: #FED4AFff;
//--black-bean: #270203ff;
//--black: #020001ff;
//--fire-engine-red: #D20428ff;
//--rosewood: rgb(62, 62, 251);

body {
    background: linear-gradient(90deg, rgb(180, 203, 208), rgb(243, 242, 242));
    color: #270203ff;
    padding: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color:#270203ff;
}

a {
    color: rgb(24, 24, 101);
    font-weight: bold;
}

a:hover, a:focus {
    color:#D20428ff;
    font-weight: bolder;
}

a small {
    color: rgb(24, 24, 101);
    font-weight: bold;
}

a:hover small {
    color:#D20428ff;
    font-weight: bolder;
}

hr {
    background: #270203ff;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 4;
    margin-right: 5em;
}

#hero, #links {
    box-sizing: border-box;
    padding-bottom: 2em;
}

#main-content {
    flex: 7;
    box-sizing: border-box;
}

#profile-pic {
    border-radius: 15px;
}

@media print, screen and (max-width: 960px) {
    .body {
        padding: 50px;
    }

    .wrapper {
        flex-direction: column;
        padding: 1em;
    }

    .left-column {
        margin-right: 0;
    }

    #links {
        display: none;
    }
}