


<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
          <br />
          <br />
        {% endif %}

        <p>{{ site.description }}</p>
      </header>
      <section>

      {{ content }}

      <footer>
        <em>Updated: {% last_modified_at %}</em>
      </footer>

      </section>
      <footer>
        <h3>Links</h3>
        <ul>
            <li><a href="https://github.com/okjuan">GitHub</a></li>
            <li><a href="https://okjuan.medium.com/">Medium</a></li>
            <li><a href="https://okjuan.substack.com/">Substack</a></li>
            <li><a href="https://okjuan.github.io/howto/">How To</a></li>
            <li><a href="https://www.linkedin.com/in/juan-carlos-gallegos-4a25a0b7">LinkedIn</a></li>
            <li><a href="https://soundcloud.com/baba-guano">SoundCloud</a></li>
            <li><a href="https://open.spotify.com/user/jcgalleg">Spotify</a></li>
        </ul>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>